<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="javascript:;"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block input-group">
    </li>
</ul>
<ul class="navbar-nav ml-auto" style="margin-left: 0px !important; width:100%;">
    <marquee class="marquee" behavior="scroll" direction="left">
        @* Add header marquee text here *@
    </marquee>
</ul>