@using EasyLife.Web.Models.Common.Modals
@model EasyLife.Web.Models.Financial.Investment.SIPEntriesListViewModel
@{
    Layout = null;
}

<style>
    .section-title {
        display: block;
        border-bottom: solid 1px #ddd;
        margin-bottom: 0;
        color: #003e80
    }
</style>

<div class="modal fade" id="SIPEntriesCreateModal" tabindex="-1" role="dialog" aria-labelledby="SIPEntriesCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Add New Entry"))
            <form name="sipEntriesForm" role="form" class="form-horizontal">
                <input type="hidden" id="EL_Financial_Investment_SIP_Master_Id" name="EL_Financial_Investment_SIP_Master_Id" value="@Model.SIPEntriesDto.EL_Financial_Investment_SIP_Master_Id" />
                <div class="modal-body" style="height:500px; overflow:auto;">
                    <div class="row col-md-12">
                        <div class="col-md-4 form-group required">
                            <label for="SIP_Order_Date">Investment Date</label>
                            <input id="SIP_Order_Date" type="text" name="SIP_Order_Date" class="form-control datetimepicker-input" required>
                        </div>
                        <div class="col-md-4 form-group required">
                            <label for="SIP_Average_Price">Average Price</label>
                            <input id="SIP_Average_Price" type="text" name="SIP_Average_Price" class="form-control Share_Average_Price" required>
                        </div>
                        <div class="col-md-4 form-group required">
                            <label for="SIP_Amount">Amount</label>
                            <input id="SIP_Amount" type="text" name="SIP_Amount" class="form-control SIP_Amount" required>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="col-md-4 form-group required">
                            <label for="SIP_Units">Units</label>
                            <input id="SIP_Units" type="text" name="SIP_Units" class="form-control SIP_Units" required>
                        </div>
                        <div class="col-md-4 form-group required">
                            <label for="SIP_Order_Id">Order Id</label>
                            <input id="SIP_Order_Id" type="text" name="SIP_Order_Id" class="form-control" required>
                        </div>
                        <div class="col-md-4 form-group required">
                            <label for="SIPType">SIP Type</label>
                            @Html.DropDownListFor(m => m.SIPEntriesDto.SIPType, Html.GetEnumSelectList<EasyLife.EasyLifeEnums.SIPType>(), new { @class = "form-control SIPType", @required = "required", @name = "SIPType" })
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
