@using EasyLife.Web.Startup
@{
    ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
}

@section scripts
    {
    <environment names="Development">
        <script src="~/libs/chartjs/dist/Chart.js" asp-append-version="true"></script>
        <script src="~/libs/chartjs/echarts.min.js"></script>
        <script src="~/view-resources/Views/Financial/Investment/_barChartShareMarket.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Financial/Expenses/_barChartExpenses.js"></script>
        <script src="~/view-resources/Views/Financial/Earnings/_barChartEarnings.js"></script>
        <script src="~/view-resources/Views/Financial/Expenses/_cBarChartExpenses.js"></script>
        <script src="~/js/daterangepicker.js"></script>
        <link href="~/css/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/libs/chartjs/echarts.min.js"></script>
        <script src="~/view-resources/Views/Financial/Investment/_barChartShareMarket.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Financial/Expenses/_barChartExpenses.min.js"></script>
        <script src="~/view-resources/Views/Financial/Earnings/_barChartEarnings.min.js"></script>
        <script src="~/js/daterangepicker.js"></script>
        <link href="~/css/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("HomePage")</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <a href="#" class="small-box-footer bg-danger">Expenses</a>
                    <div class="inner">
                        <h4 class="monthlyExpenses">₹ Loading... </h4>
                        <p> <i class="far fa-calendar-alt dashboardExpensesDaterange"></i> Calendar</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-area" style="margin-top:30px;"></i>
                    </div>
                    <a href="/financial/expenses" class="small-box-footer">Manage Expenses <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <a href="#" class="small-box-footer bg-success">Earnings</a>
                    <div class="inner">
                        <h4 class="monthlyEarnings">₹ Loading... </h4>
                        <p> <i class="far fa-calendar-alt dashboardEarningsDaterange"></i> Calendar</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-area" style="margin-top:30px;"></i>
                    </div>
                    <a href="/financial/earnings" class="small-box-footer">Manage Earnings <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <a href="#" class="small-box-footer bg-warning">Total Investments</a>
                    <div class="inner">
                        <h4 class="monthlyInvestments">₹ Loading... </h4>
                        <p> <i class="far fa-calendar-alt dashboardTotalInvestment"></i> Calendar</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-area" style="margin-top:30px;"></i>
                    </div>
                    <a href="/financial/sharemaster" class="small-box-footer">Manage info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="clearfix hidden-md-up"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Chart Reports</h3>
                    </div>
                    <div class="card-body">
                        <div id="accordion">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100 shareMarketCollapseOne" data-toggle="collapse" href="#collapseOne">
                                            Share Market (Loading...)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div id="barChartShareMaster" class="card-body" style="width: 550px;height:700px;">
                                    </div>
                                </div>
                            </div>
                            <div class="card card-danger">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100 expensesCollapseTwo" data-toggle="collapse" href="#collapseTwo">
                                            Expenses (Loading...)
                                        </a><i class="far fa-calendar-alt dashboardExpensesChartDaterange"></i>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body" id="barChartExpenses" style="width: 550px;height:700px;">
                                    </div>
                                </div>
                            </div>
                            <div class="card card-success">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100 earningCollapseThree" data-toggle="collapse" href="#collapseThree">
                                            Earnings (Loading...)
                                        </a><i class="far fa-calendar-alt dashboardEarningsChartDaterange"></i>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body" id="barChartEarnings" style="width: 550px;height:700px;">
                                    </div>
                                </div>
                            </div>
                            @*<div class="card card-danger">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100 expensesCollapseFour" data-toggle="collapse" href="#collapseFour">
                                            C Bart Chart - Expenses (Loading...)
                                        </a><i class="far fa-calendar-alt dashboardExpensesCBarChartDaterange"></i>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body" id="expensesCBarChart" style="width: 550px;height:700px;">
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
